@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

h1 {
	font-size: 65px;
  	color: white;
	margin: 0px;
	margin-bottom: 50px;
}

h2 {
	font-size: 20px;
  	color: white;
	margin: -70px;
}

.section_title {
	padding-top: 20px;
}
.front_page {
	background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,0.5)), url('../images/electric.gif');
    background-attachment:fixed; /*parallax effect*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
    position: static;
	text-align: center;
    font-family: 'Architects Daughter', cursive;
    width: 100%;
}

.front_text {
position: absolute;
top: 40%;
text-align: center;
left: 50%;
transform: translate(-50%, -50%);
}

.icons {
	padding-top: 80px;
	margin-right: 8px;
}

.tooltip {
	position: relative;
	display: inline-block;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

  .front_page_2 {
	
	background-color: #2F3180;
	height: 100vh;
    position: static;
	text-align: center;
    font-family: 'Architects Daughter', cursive;
    width: 100%;
	
	
}
.fp2 {
	background-color: #FFB900;
	margin-left: 2%;
	margin-right: 2%;
	height: 100vh;
	border: none;
	border-radius: 150px 150px 0px 0px;
}

.front_page_3 {
	background-color: #4fa8cd;
	height: 100vh;
    position: static;
	text-align: center;
    font-family: 'Architects Daughter', cursive;
    width: 100%;
	
}


.front_page_4 {
	background-color: #3699c3;
	height: 100vh;
    position: static;
	text-align: center;
    font-family: 'Architects Daughter', cursive;
    width: 100%;
	
}
@media only screen and (max-height: 850px) {
	.front_page_4 {
		height: calc(100% );
		
	}
  }
.front_page_5 {
	background-color: #2e83a7;
	height: 100vh;
    position: static;
	text-align: center;
    font-family: 'Architects Daughter', cursive;
    width: 100%;
	
}

.front_page_6 {
	background-color: #276d8b;
	height: 100vh;
    position: static;
	text-align: center;
    font-family: 'Architects Daughter', cursive;
    width: 100%;
	
}